.algo-item {
  margin-top: 1px;
  padding: 0.3rem;
  border-bottom: 1px lightgrey solid;

  &:hover {
    color: black !important;
    cursor: pointer;
  }

  @each $category, $properties in $category-properties {
    &.#{$category} {
      color: map-get($properties, "color");
      background: none;

      .icon {
        @include add-icon($properties);
        margin-right: 5px;
      }
    }
  }
}

#algo-categories.nav-pills {
  border-right: 1px solid black;
}

#algo-categories.nav-pills a.nav-link {
  font-size: 0.6em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  // background: lightgrey;
  margin: 1px 0;
  border-radius: 0;
  padding: 1rem 0.3rem;
  color: white;

  &.active {
    background: black !important;
  }

  @each $category, $properties in $category-properties {
    &.#{$category} {
      background-color: map-get($properties, "color");

      .icon {
        @include add-icon($properties, 25px);
        display: block;
        font-size: 2em;
      }
    }
  }
}
