.algo-item {
  background: red;
  margin-top: 1px;
  padding: 0.3rem;

  &:hover {
    background: white;
    cursor: pointer;
  }
}

#algo-categories.nav-pills {
  border-right: 1px solid black;
}

#algo-categories.nav-pills a.nav-link {
  font-size: 0.6em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  background: lightgrey;
  margin: 1px 0;
  border-radius: 0;
  padding: 1rem 0.3rem;
}
