$bootstrap-input-height: calc(1.5em + 0.75rem + 2px);

#content-wrapper.row > div {
  border: 1px solid black;
}

input[type="file"]:hover {
  cursor: pointer;
  background: white;
}

.data-foreignobj {
  body {
    background: none;

    > div {
      height: 100%;
      position: relative;
    }
  }

  .preview {
    height: 70%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

// foreignObject
.algo-box {
  body {
    background: $box-background;

    @each $category, $properties in $category-properties {
      &.#{$category} {
        border-width: 0 0 5px 0;
        border-bottom: map-get($properties, "color");
        border-style: solid;

        .param-name {
          // display:inline-block;
          // min-width:
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: map-get($properties, "color");
        }
      }
    }
  }

  .row {
    margin-bottom: 7px;
    align-items: center;
    justify-content: center;
  }

  .selection .select2-selection {
    height: $bootstrap-input-height;

    //.select2-container--default .select2-selection--single .select2-selection__rendered
    .select2-selection__rendered {
      line-height: $bootstrap-input-height;
    }

    .select2-selection__arrow {
      height: $bootstrap-input-height;
    }
  }

  .title-box {
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-content: center;

    @each $category, $properties in $category-properties {
      &.#{$category} {
        background-color: map-get($properties, "color");
      }
    }

    h3 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tooltip-box {
      display: block;
      width: 40px;
      margin: auto 10px auto auto;
      cursor: pointer;

      svg {
        display: block;
      }
    }

    @each $category, $properties in $category-properties {
      &.#{$category} .icon {
        @include add-icon($properties);
      }
    }
  }

  .reset-button {
    background: darkgrey;
    color: white;
  }

  .tooltip-info-button {
    padding: 0 10px;
  }

  .no-parameter {
    text-align: center;
  }
}

// override default styles
.tooltip-inner {
  // max-width:400px;
  text-align: left;
}

// #trash {
//   position: absolute;
//   bottom: 30px;
//   right: 30px;
//   z-index: 20;
//   font-size: 5em;
// }

.joint-port-label {
  fill: black;
  tspan:first-of-type {
    font-weight: bold;
  }
}

#minimap-container {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 20;
  box-shadow: 0 0 5px 2px grey;
  overflow: hidden;
}

#minimap-navigator {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid red;
  cursor: move;
  box-sizing: border-box;
}

#areaSelectionHighlight {
  z-index: 30;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border: dotted 1px black;
  width: 0;
  height: 0;
  display: hidden;
}

#toolsbar {
  height: 35px;
  background: white;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  padding: 0 5px;
  box-sizing: border-box;

  .group {
    display: inline-block;
    vertical-align: middle;

    &:not(:first-child) {
      border-left: 1px solid lightgrey;
      margin-left: 5px;
      padding-left: 5px;
    }
  }

  a {
    padding: 0 5px;
    cursor: pointer;

    &.disabled {
      color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      color: red;
    }
  }

  a > div {
    display: inline-block;
    vertical-align: middle;
  }

  .separator {
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    background: lightgrey;
    height: 100%;
    margin: 0 7px;
  }

  .slidecontainer {
    text-align: center;
  }
}

/*HIGHLIGHTER*/

.highlighted {
  & > g > rect {
    stroke-width: 5px;
    stroke: red !important;
  }
}

// .joint-highlight-stroke {
//   stroke: green !important;
// }

.highlight-toolsbar {
  // font-family: FontAwesome;
  .icon {
    cursor: pointer;
  }
  background: red;
}

.resizer {
  z-index: 30;
  position: absolute;
  height: 20px;
  width: 20px;
  background: red;
}

#log {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  background: rgb(48, 48, 48);
  color: red;
  font-size: 0.9em;
  max-width: 75%;
  max-height: 200px;
  overflow: auto;

  div {
    border-bottom: 1px solid grey;
    margin: 5px 10px;

    span.name,
    span.value {
      color: white;
    }

    span.boxName {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: white;
      }
    }
  }
}
