@import "~bootstrap/scss/bootstrap";
@import "~jointjs/dist/joint.css";
@import "~select2/dist/css/select2.css";
@import "./theme";

@import "./header.scss";
@import "./mainContent.scss";
@import "./leftSidebar.scss";

body,
html {
  background: white;
  font-family: arial;
  height: 100%;
  overflow: hidden;
}

#content-wrapper.row {
  height: 93%;
}

div.select .select2 {
  min-width: 120px;
}

.inputs input {
  width: 130px;
}
