#content-wrapper.row > div {
  border: 1px solid black;
}

.algo-box {
  body {
    background: none;
  }

  .row {
    margin: 7px 0;
  }

  .title-box {
    font-size: 2em;
  }

  .param-name {
    // display:inline-block;
    // min-width:
  }

  .reset-button {
    background: lightgrey;
  }

  .tooltip-info-button {
    padding: 0 10px;
  }

  .no-parameter {
    text-align: center;
  }
}

// override default styles
.tooltip-inner {
  // max-width:400px;
  text-align: left;
}

#trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 20;
  font-size: 5em;
}

.joint-port-label {
}
