@import "~bootstrap/scss/bootstrap";
@import "~jointjs/dist/joint.css";
@import "~select2/dist/css/select2.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "./theme";

@import "./header.scss";
@import "./mainContent.scss";
@import "./leftSidebar.scss";
@import "./rightSidebar.scss";

body,
html {
  background: white;
  font-family: $font-primary;
  height: 100%;
  overflow: hidden;
}

#content-wrapper.row {
  position: relative;
  height: 93%;
}

div.select .select2 {
  padding: 0;
  width: 100%;
  margin: 0;
}

.inputs input {
  width: 130px;
}

.contextmenu {
  position: absolute;
  background: white;
  box-shadow: 0 0 15px darkgrey;
  padding: 10px;
  height: 200px;
  width: 200px;
  z-index: 3;
  display: none;

  span {
    display: block;
    border-bottom: black 1px solid;

    &:hover {
      cursor: pointer;
    }
  }
}

#tooltip {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8em;
  padding: 7px;
  max-width: 200px;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  display: none;
}

.alert {
  position: absolute;
  width: 400px;
  text-align: center;
  top: 35px;
  left: 50%;
  margin-left: -200px;
}

.gutter-horizontal:hover {
  cursor: col-resize;
}
